{% extends "GestionStockBundle::template.html.twig" %}
	 {% block contenu %}


	<div class="well">
        <em><center><h2>Modification d'une categorie </h2></center></em>
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}
		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(form.libelle, "Libellé", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(form.libelle) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        
		        {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}

		    </div>
		</div>
		

        <span style="margin-left:30%">{{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-success'}}) }}</span>

         <span style="margin-left:25%">{{ form_widget(form.Annuler, {'label': 'Annuler', 'attr': {'class': 'btn btn-warning'}}) }}</span>

		{{ form_widget(form) }}
		 {{ form_end(form) }}	
		 </div>

{% endblock %}

